{% extends "layout.njk" %}

{% block body %}
<div class="error">
  <div class="error-title">
    <h1>PAGE NOT FOUND</h1>
  </div>
  <div class="error-content">
    <h2>The requested URL was not found on this server</h2>
    <h2><a href="/">Click here</a> to return to the home page</h2>
  </div>
</div>
{% endblock %}