{% extends "layout.njk" %}

{% block body %}
    <div class="wrapper">
      <img src="{{data.avatar_link}}" alt="logo-rocketseat">
      <h1><a href="{{data.site}}">{{data.name}}</a></h1>
      <h2>{{data.role}}</h2>
    </div>
    <div class="list">
        <h2>{{data.description}}</h2>
        <ul>
          <li data-id="1"><span>JavaScript</span></li>
          <li data-id="2"><span>NodeJS</span> </li>
          <li data-id="3"><span>React</span> </li>
          <li data-id="4"><span>React Native</span></li>
        </ul>
    
    </div>
    <div class="social-networks">
      {% for link in data.links %}
      <a href="{{link.url}}" target="_blanked">{{link.name}}</a>
      {% endfor %}
    </div>
{% endblock %}    