{% extends "layout.njk"%}

{% block head %}
    <title>
      Contents
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="wrapper">
      <h1 style="color: #50fa7b;">Contents</h1>
    </div>

    
    <section class="cards">
{%for item in items %}      
      <div class="card" id="{{item.id}}">
        <div class="card__image-content" id="{{item.id}}">
          <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{item.id}}.svg" alt="{{item.title}}">
        </div>
        <div class="card__content">
          <p>{{item.title}}</p>
        </div>
        <div class="card__info">
          <p class="card__modules">{{item.module}}</p>
          <p class="card__cost">{{item.price}}</p>
        </div>
        <div class="card__button">
          <button>
            <a href="https://rocketseat.com.br/{{item.id}}" target="_blank">
              Acessar
            </a>
          </button>
        </div>
      </div>
{%endfor%}
<script src="scripts.js"></script>
{% endblock  %}