{% extends "layout.njk" %}


{% block head %}
<title>About Me</title>
{% endblock %}

{% block content %}
<div id="wrapper">
  <img src="https://avatars0.githubusercontent.com/u/58537046?s=400&v=4" alt="Imagem">
  <h1><a href="https://github.com/LVKIN" target="_blank">Lucas Passos</a></h1>
  <h2>Systems Analysis and Development Student</h2>
  <p>Future Full-stack programmer</p>
</div>
<div id="social-network" class="links">
  <a href="https://github.com/LVKIN" target="_blank">Github</a>
  <a href="https://www.twitter.com/iae_neguinn" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com/in/lvkin/" target="_blank">Linkedin</a>
</div>
{% endblock %}