<!DOCTYPE html>
<html>

  <head>
    
    <link rel="stylesheet" href="/styles.css">
    {% block head %}{% endblock %}
    <title>Launchbase 2.0</title>
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">About Me</a>
        <a href="/projects">Projects</a>
      </div>
    </header>
    {% block content %}

    {% endblock %}
  </body>

</html>