{% extends "layout.njk" %}

{% block head %}
  <title>Fill all fields</title>
{% endblock head %}

{% block body %}
  <div class="card__field">
    <h1>!</h1>
    <h2>Please, fill all fields</h2>
    <p>All information is necessary, so we ask you
      to return and finish filling out the registration
       form completely. Thank you!</p>

    <button><a href="/teachers/create">Back</a></button>
  </div>
{% endblock body %}