{% extends "layout.njk" %}

{% block body %}
<div class="content-about">
  
  <h3>Sobre o Foodfy</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus elit sed 
  massa euismod consequat. In sit amet mauris mauris. Sed malesuada, nisi vulputate 
  facilisis posuere, augue justo faucibus lorem, sed aliquet magna enim non eros. 
  Ut vitae semper diam, non vehicula massa. Fusce placerat eros metus, in venenatis 
  mauris dignissim ut. Morbi at eleifend quam. Curabitur ac sem vitae orci auctor 
  accumsan. Donec tristique urna erat, eget porttitor orci condimentum ut. 
  Pellentesque malesuada leo sed mi pulvinar, sit amet suscipit lacus ultrices. 
  Aliquam elit erat, rutrum at orci in, pretium accumsan velit. Fusce finibus 
  egestas quam, nec facilisis augue dignissim et. Nunc consequat enim sapien, vel
  convallis massa fermentum a. Aenean sodales nibh at augue volutpat, a accumsan 
  justo congue. Donec mattis facilisis lacinia.</p>
  <br>
  <p>Nunc euismod scelerisque lobortis. Fusce in massa nunc. Donec sit amet nulla 
  turpis. Vestibulum maximus felis at justo porta, dictum sagittis leo dictum. Ut 
  ultrices at nisi a porttitor. Duis quis mauris in risus iaculis hendrerit vel 
  eget justo. Suspendisse quis libero nec felis interdum scelerisque ac at arcu. 
  Nunc feugiat nisl sed aliquet pharetra. In ut suscipit odio, ut gravida augue. 
  Phasellus finibus semper hendrerit. Cras ut neque non sapien mollis rutrum eu 
  id tortor.</p>
  <br>
  <br>
  <h3>Como tudo começou...</h3>
  <p>Curabitur velit nunc, blandit at risus et, pharetra sagittis elit. Nunc luctus 
  ante sem, id gravida risus pretium sit amet. Fusce commodo purus vel enim 
  ullamcorper varius. Cras varius metus ipsum, ac tincidunt urna interdum in. Etiam 
  sit amet mi sapien. Duis sit amet urna leo. Cras ornare ligula sapien, nec aliquet 
  ipsum rutrum vel.</p>
  <br>
  <p>Morbi in maximus massa, at convallis neque. Vestibulum lorem orci, euismod 
  tincidunt turpis eu, tristique vestibulum enim. Nam erat tortor, congue non 
  dignissim id, vestibulum egestas ipsum. Lorem ipsum dolor sit amet, consectetur 
  adipiscing elit. Vestibulum ut lacinia lorem. Nulla dictum semper mollis. Ut a 
  varius velit, eget convallis neque. Pellentesque et urna non nisi molestie 
  hendrerit in at ligula. Sed viverra metus ac mi viverra cursus. Etiam tincidunt 
  neque ipsum, sit amet porttitor eros tincidunt at. Integer ultricies tristique 
  lectus id convallis. Morbi eget massa eget augue commodo hendrerit vitae at nibh.</p>
  <br>
  <br>
  <h3>Nossas receitas</h3>
  <p>Donec in ultrices massa, porttitor fringilla purus. Nullam lacinia sem nec nisl 
  commodo, sit amet dapibus nibh euismod. Nullam tincidunt elit sem, quis imperdiet 
  mauris sollicitudin vel. Vivamus posuere nunc quis lacus fermentum, ut semper orci 
  imperdiet. Aenean dolor purus, imperdiet non scelerisque ullamcorper, ullamcorper 
  in augue. Ut tempor orci non malesuada scelerisque. Sed id lorem vitae sapien 
  imperdiet semper in et massa. Maecenas sed est in mi tincidunt efficitur ut vulputate 
  tortor. Curabitur eu nunc lobortis, lobortis est nec, sagittis nibh. Aliquam et 
  posuere mi, ac porttitor libero. </p>
</div>
{% endblock %}