{% extends "layout.njk" %}
{% block body %}
<section class="recipe">
  <div class="card__recipe" id="{{item.id}}">
    <div class="card__image-container">
      <img src="{{item.image}}" alt="{{item.title}}">
    </div>
    <div class="card__content">
      <div class="card__title">
        <h4>{{item.title}}</h4>
      </div>
    </div>
    <div class="card__recipe-author">
      <p>por {{item.author}}</p>
    </div>
  </div>
  <br>
  <div class="ingredients">
    <h4>Ingredientes</h4>
    <ul>
      {% for ingredient in item.ingredients %}
      <li>- {{ingredient}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="preparation">
    <h4>Modo de Preparo</h4>
    <ul>
      {% for preparation in item.preparation %}
      <li>{{preparation}}</li>
      {% endfor %}
    </ul>
  </div>
  {% if(item.information != "") %}
  <div class="info">
    <p>{{item.information}}</p>
  </div>
  {% endif %}
</section>
{% endblock %}